* {
    color: aliceblue;
    padding: 0;
    margin: 0;
}



button{
    
   padding: 5px;
   color: rgb(23, 6, 6);
   background-color:rgb(163, 196, 163);
   border-radius: 40%;
   border-color: rgb(163, 196, 163);
   
}

a{
    text-decoration: none;
    padding-right: 50px;
}


#logo
{
    color: rgb(92, 145, 7);
}
#navbar
{
    background-color: rgb(5, 35, 57);
    padding: 20px;
    
}

.contentBox
{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#content
{
    height: 640px;
}

footer{
    color: aliceblue;
    background-color: rgb(5, 35, 57) ;
    text-align: center;
}


/* 


#box
{
    background-color: #0000ff;
    color: white;
}

.class{
    color: red;
}
#one{
    font-family: Arial, Helvetica, sans-serif
}
#two
{
    text-transform: capitalize;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#outer{
    font-size: 25px;
}

h1{

    color: rgb(233, 211, 220);
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
}

p{
    text-align: justify;
    
    color: dimgray;
}



 */
